<section class="about__area pt-90 pb-150">
  <div class="container">
     <div class="row">
        <div class="col-xxl-5 offset-xxl-1 col-xl-6 col-lg-6">
           <div class="about__thumb-wrapper">

              <div class="about__review">
                 <h5> <span>8,200+</span> five star reviews</h5>
              </div>
              <div class="about__thumb ml-100">
                 <img src="https://images.unsplash.com/photo-1571003123894-1f0594d2b5d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=898&q=80" alt="loading...">
              </div>
              <div class="about__banner mt--210">
                 <img src="https://images.unsplash.com/photo-1549294413-26f195200c16?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80" alt="">
              </div>

           </div>
        </div>

        <div class="col-xxl-6 col-xl-6 col-lg-6">
           <div class="about__content pl-70 pr-60 pt-25">
              <div class="section__title-wrapper mb-25">
                 <h2 class="section__title">Book in <br><span class="yellow-bg-big">Fanciest <img src="assets/img/shape/yellow-bg-2.png" alt=""></span>  hotels in Jordan </h2>
                 <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus, deserunt?</p>
              </div>
              <div class="about__list mb-35">
                 <ul>
                    <li class="d-flex align-items-center"> <i class="icon_check"></i> Free Breakfast.</li>
                    <li class="d-flex align-items-center"> <i class="icon_check"></i> 24/7 room services.</li>
                    <li class="d-flex align-items-center"> <i class="icon_check"></i> 1 Free night after 5 nights.</li>
                 </ul>
              </div>
              <a [routerLink]="['/contact']" class="e-btn e-btn-border">apply now</a>
           </div>
        </div>
     </div>
  </div>
</section>

